# Postgres数据库配置
POSTGRES_HOST="数据库地址"
POSTGRES_PORT="数据库端口"
POSTGRES_USERNAME="数据库用户名"
POSTGRES_PASSWORD="数据库密码"
POSTGRES_DATABASE="数据库名称"
POSTGRES_SCHEMA=public

# Redis配置
REDIS_HOST="Redis地址"
REDIS_PORT="Redis端口"
REDIS_PASSWORD="Redis密码"
